<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controlador_login</servlet-name>
        <servlet-class>Controlador_l.controlador_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validacion_logo</servlet-name>
        <servlet-class>Controlador_l.validacion_logo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador_login</servlet-name>
        <url-pattern>/controlador_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validacion_logo</servlet-name>
        <url-pattern>/validacion_logo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>empleado_sr</servlet-name>
        <servlet-class>ControladorEmpleados.empleado_sr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>empleado_sr</servlet-name>
        <url-pattern>/empleado_sr</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cliente_sr</servlet-name>
        <servlet-class>ControladorEmpleados.cliente_sr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cliente_sr</servlet-name>
        <url-pattern>/cliente_sr</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sr_marca</servlet-name>
        <servlet-class>controlador.sr_marca</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sr_marca</servlet-name>
        <url-pattern>/sr_marca</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
